[snowflake]
account = "f5networks"
user = "SVC_GWSCAFETERIA"
private_key_path = "rsa_key.p8"
role = "GWSCAFETERIA_ROLE"
warehouse = "DEV_TST_ENT_ETL_WH"
database = "DEV_ENT_RAW"
schema = "COMMON"

[openai]
api_key = "sk-..."
