# .streamlit/secrets.toml for Forms Edition
# Paste your Excel download URLs and OpenAI key

[forms]
food_tracker_url = "https://f5-my.sharepoint.com/:x:/r/personal/a_pasumarthy_f5_com/_layouts/15/Doc.aspx?sourcedoc=%7B74C88E7B-B635-49AD-8A95-40C98D45970F%7D&file=Facility_Feedback_AI%20-%20Food%20Tracker.xlsx&action=edit&mobileredirect=true&wdMsFormsCorrelationId=2157a508-8de0-41d7-924d-50b2b1a51de2"
meal_feedback_url = "https://f5-my.sharepoint.com/:x:/r/personal/a_pasumarthy_f5_com/_layouts/15/Doc.aspx?sourcedoc=%7B0EA6ABB5-DA57-4F52-B1ED-8AB2CB58D0A8%7D&file=Facility_Feedback_AI-%20Meal%20Feedback.xlsx&action=edit&mobileredirect=true&wdMsFormsCorrelationId=206cc89c-928f-4dde-8323-2d3e1c220c73"

[openai]
api_key = "sk-..."
