[google_sheets]
food_tracker_url = "https://docs.google.com/spreadsheets/d/1IyhzT5Xrtbyn1l8u51Xjpkk9b9fUY7vPbDg91e0NHT8/edit?gid=0#gid=0/export?format=csv"
meal_feedback_url = "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID_2/export?format=csv"

[openai]
api_key = "sk-your-key"
